@import "tailwindcss";

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* custom theme config for Tailwind v4  */
@theme {
  /* fonts */
  --font-display: "Albert Sans", sans-serif;

  /* colors */
  --color-blue: rgb(24, 36, 64);
  --color-blue-hover: rgba(24, 36, 64, 0.9);
  --color-red: rgb(205, 23, 25);
  --color-red-hover: rgba(205, 23, 25, 0.9);
  --color-gray: rgb(248, 249, 250);
  --color-gray-hover: rgba(248, 249, 250, 0.9);
  --color-light-gray: rgb(222, 226, 230);
  --color-dark-gray: rgb(13, 15, 18);
  --color-black: rgb(2, 6, 24);

  /* custom properties */
  --shadow-md: 0.2rem 0.2rem rgb(13, 15, 18);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-gray);
  color: var(--color-dark-gray);
}

h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: bolder;
  line-height: 1;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
  font-weight: bolder;
  line-height: 1;
}

h3 {
  font-size: clamp(1.125rem, 2.5vw, 1.75rem);
  font-weight: bold;
  line-height: 1.2;
}

p,
li {
  font-size: clamp(0.95rem, 1.6vw, 1.25rem);
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
}

@layer base {
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

.small-text {
  font-size: clamp(0.925rem, 1.4vw, 1.1rem);
  line-height: 1.4;
}

.btn {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.date-info {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
}

.sidebar-date-time {
  color: var(--color-red);
  font-size: clamp(0.95rem, 1.6vw, 1.25rem);
  margin-bottom: 0;
  font-weight: 700;
}

/* loading page/overlay */

#loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

#loading-screen video {
  width: 50rem;
  height: auto;
}

/* hide scrollbar for events and courses section on homepage */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

/* css override styles for Gutenberg gallery */

.gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

/* responsive columns */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* @media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
} */

.gallery-item {
  float: none;
  width: auto;
  height: 100%;
  margin: 0;
}

.gallery dl,
.gallery dt {
  margin: 0;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 0.125rem;
}

.gallery br {
  display: none;
}

/* for focusable elements */
:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 0.25rem var(--color-red),
    0 0 0 0.25rem var(--color-gray-hover);
  border-radius: 0.375rem;
}
