@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

/* custom theme config for Tailwind v4  */
@theme {
  /* fonts */
  --font-albert: "Albert Sans", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;

  /* colors */

  --color-blue: rgb(24, 36, 64);
  --color-blue-hover: rgba(24, 36, 64, 0.9);
  --color-red: rgb(205, 23, 25);
  --color-red-hover: rgba(205, 23, 25, 0.9);
  --color-gray: rgb(248, 249, 250);
  --color-gray-hover: rgba(248, 249, 250, 0.9);
  --color-light-gray: rgb(222, 226, 230);
  --color-dark-gray: rgb(13, 15, 18);

  /* custom properties */
  --shadow-md: 0.2rem 0.2rem rgb(13, 15, 18);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-albert);
  background-color: var(--color-gray);
}

h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: bolder;
  line-height: 1;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
  font-weight: bolder;
  line-height: 1;
}

p {
  font-size: clamp(0.95rem, 1.6vw, 1.25rem);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.date-info {
  font-size: clamp(1.5rem, 4vw, 2.75rem);
}

.small-text {
  font-size: clamp(0.925rem, 1.4vw, 1.1rem);
  line-height: 1.4;
}

.btn {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/* Loading page/overlay */

#loading-screen {
  /* use display: none when testing site so animation doesn't play */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

#loading-screen video {
  width: 50rem;
  height: auto;
}

/* styles for navbar change-on-scroll */
#main-nav {
  transition: background-color 0.5s ease;
}

#main-nav.main-nav-scrolled {
  background-color: var(--color-blue);
}

#site-title {
  transition: color 0.5s ease;
}

#site-title.site-title-scrolled {
  color: var(--color-gray);
}

.nav-links.links-default {
  background-color: var(--color-gray);
  color: var(--color-blue);
}

.nav-links.links-default:hover {
  background-color: var(--color-blue);
  color: var(--color-gray);
  outline: 1px solid var(--color-gray);
}

/* Hide scrollbar for events and courses section on homepage */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

/* Gallery section with masonry grid and slide in up animation(?) */
.masonry-grid {
  column-count: 3;
  column-gap: 1rem;
}

.masonry-grid img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.mobile-menu-nav-links a .hover-visible {
  display: none;
}

.mobile-menu-nav-links a:hover .hover-hidden {
  display: none;
}

.mobile-menu-nav-links a:hover .hover-visible {
  display: block;
}
