@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    /* fonts */
    --font-albert: "Albert Sans", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;

    /* colors */

    --color-blue: rgb(24, 36, 64);
    --color-blue-hover: rgba(24, 36, 64, 0.9);
    --color-red: rgb(205, 23, 25);
    --color-red-hover: rgba(205, 23, 25, 0.9);
    --color-gray: rgb(248, 249, 250);
    --color-dark-gray: rgb(13, 15, 18);

    /* custom properties */
    --shadow-md: 0.2rem 0.2rem rgb(13, 15, 18);

}

body {
    background-color: var(--color-gray);
}

/* styles for navbar change-on-scroll */
#main-nav {
    transition: background-color 0.5s ease;
}

#main-nav.main-nav-scrolled {
    background-color: var(--color-blue);
}

#site-title {
    transition: color 0.5s ease;
}

#site-title.site-title-scrolled {
    color: var(--color-gray);
}

.nav-links.links-default {
    background-color: var(--color-gray);
    color: var(--color-blue);
}