@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    /* fonts */
    --font-albert: "Albert Sans", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;

    /* colors */

    --color-blue: rgb(24, 36, 64);
    --color-blue-hover: rgba(24, 36, 64, 0.9);
    --color-red: rgb(205, 23, 25);
    --color-red-hover: rgba(205, 23, 25, 0.9);
    --color-gray: rgb(248, 249, 250);
    --color-gray-hover: rgba(248, 249, 250, 0.9);
    --color-dark-gray: rgb(13, 15, 18);

    /* custom properties */
    --shadow-md: 0.2rem 0.2rem rgb(13, 15, 18);
}

body {
    font-family: var(--font-albert);
    background-color: var(--color-gray);
    overflow-x: hidden;
}

.scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;

}

h1 {
    font-size: clamp(4rem, 4vw, 8rem);
    font-weight: bolder;
}

h2 {
    font-size: clamp(2rem, 2vw, 6rem);
    font-weight: bolder;
}

p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.btn {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* .btn-container {
    display: flex;
    justify-content: flex-end;

} */

/* styles for navbar change-on-scroll */
#main-nav {
    transition: background-color 0.5s ease;
}

#main-nav.main-nav-scrolled {
    background-color: var(--color-blue);
}

#site-title {
    transition: color 0.5s ease;
}

#site-title.site-title-scrolled {
    color: var(--color-gray);
}

.nav-links.links-default {
    background-color: var(--color-gray);
    color: var(--color-blue);
}

.nav-links.links-default:hover {
    background-color: var(--color-blue);
    color: var(--color-gray);
    outline: 1px solid var(--color-gray);
}

/* Event cards section */

/* .card-event-title {
    font-size: clamp(0.75rem, 0.9vw, 0.95rem);
}

.card-time-date {
    font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.card-event-description {
    font-size: clamp(0.75rem, 0.9vw, 0.95rem);
} */

/* Gallery section with masonry grid and slide in up animation */
.masonry-grid {
    column-count: 3;
    column-gap: 2rem;
}

.masonry-grid img {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}